<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <handlers>
            <remove name="WebDAV" />
            <remove name="PHP53_via_FastCGI" />
            <remove name="PHP_via_FastCGI5" />
            <remove name="PHP_via_FastCGI4" />
            <remove name="PHP_via_FastCGI3" />
            <remove name="PHP_via_FastCGI2" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP_via_FastCGI" />
            <remove name="Python FastCGI" />
    <add name="PythonHandler-cgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38\python.exe|C:\Python38\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
  </handlers>
        <rewrite>
            <rules>
                <remove name="WordPress: https://scadsdnd.net" />
                <rule name="WordPress: https://scadsdnd.net" enabled="false" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
</system.webServer>
<appSettings>
  <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
  <!-- Django apps only -->
  <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
  <add key="DJANGO_SETTINGS_MODULE" value="djYMDB.settings" />
</appSettings>
</configuration>