{% extends 'index.html' %}

{% block mytitle %} YMDB {% endblock %}
{% block myheading %}
    <span class="row">
    {% for oneCol in collsList %}
        <a href="{% url 'collFilter' cid=oneCol.pk pg=0 %}" style="border-radius: 0px"
           class="col btn btn-outline-primary {% if oneCol.pk == cid %}active{% endif %}">
            <span class="fas fa-book"></span>&nbsp;
            {{ oneCol.name }}
        </a>
    {% endfor %}
    </span>
{% endblock %}

{% block subPages %}
    <a href="{% if gid != -1 %}
        {% url 'ArtAdd' refF=1 %}
    {% elif cid != -1 %}
        {% url 'ArtAdd' refF=2 %}
    {% else %}
        {% url 'ArtAdd' refF=0 %}
    {% endif %}" class="btn btn-outline-info" title="Добавить">
        <span class="fas fa-plus-square"></span>
    </a>
    <button class="btn btn-outline-info" data-toggle="modal" data-target="#changeSetting" title="Настройки">
        <span class="fas fa-cogs"></span>
    </button>
    <a href="{% url 'propEdit' 1 %}" class="btn btn-outline-success" title="Коллекции">
        <span class="fas fa-book"></span>
    </a>
    <a href="{% url 'propEdit' 2 %}" class="btn btn-outline-success" title="Жанры">
        <span class="fas fa-puzzle-piece"></span>
    </a>
{% endblock %}

{% load static %}
{% block mycontent %}

    <div class="d-flex flex-wrap justify-content-center">
        {% if kWord != '' %}
            <div class="card shadow-sm bg-light" style="width: 100%">
                <div class="card-header">
                    <p class="card-text text-center">
                        Поиск по: <span class="font-weight-bold">{{ kWord }}</span>
                    </p>
                </div>
            </div>
        {% endif %}
        {% for artDesc in artsList %}
            <div class="card shadow-sm align-self-start" style="width: 12rem; margin: 6px">
                {% if artDesc.ArtCoverCahed %}
                    <img class="card-img-top" src="{% static artDesc.ArtCoverCahed.url|cut:'ymdb/static' %}"
                         alt="{{ artDesc.ArtTitle }} Cover">
                {% elif artDesc.ArtCover %}
                    <img class="card-img-top" src="{{ artDesc.ArtCover }}" alt="{{ artDesc.ArtTitle }} Cover">
                {% else %}
                    <img class="card-img-top"
                         data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Нет Обложки" alt="">
                {% endif %}
                {% if artDesc.UserRating >= 0 %}
                    <ul class="list-group list-group-flush" title="Моя Оцека">
                        <li class="list-group-item d-flex justify-content-center font-weight-bold rated_{{ artDesc.UserRating }}">
                            <span class="fas fa-star-half-alt" style="padding-right: 5px"></span>
                            {{ artDesc.get_UserRating_display }}
                        </li>
                    </ul>
                {% endif %}
                <div class="card-body align-content-center" style="padding-bottom:0px">
                    <h5 class="card-title" style="font-size: medium; text-align: center" title="Название">
                        {% if artDesc.ExternalLink != '' %}
                            <a href="{{ artDesc.ExternalLink }}" target="_blank" class="align-self-center"
                               title="Ссылка на внешнее описание или загрузку">
                                {{ artDesc.ArtTitle }}
                            </a>
                        {% else %}
                            <span class="align-self-center font-italic"
                                  title="Нет внешней ссылки. Напишите об этом в отзыве">
                          {{ artDesc.ArtTitle }}
                          </span>
                        {% endif %}
                    </h5>
                    <h6 class="card-title mb-2 text-muted small " title="Подзаголовк (Перевод)">
                        {% if artDesc.ArtSubTitle %} {{ artDesc.ArtSubTitle|linebreaksbr }} {% endif %}
                    </h6>

                </div>
                <div class="modal fade" tabindex="-5" role="dialog" id="tsList_{{ artDesc.pk }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header font-weight-bold text-primary">
                                Отзывы гостей o "{{ artDesc.ArtTitle }}"
                                <button type="button" class="close" data-dismiss="modal" title="Добавить свой"
                                        data-toggle="modal" data-target="#testimonialModal" aria-label="Add">
                                    <span aria-hidden="true">
                                        <span class="far fa-plus-square text-primary"></span>
                                    </span>
                                </button>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        title="Закрыть отзывы">
                                    <span aria-hidden="true">
                                        <span class="far fa-times-circle text-danger"> </span>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if artDesc.guesttestimonilas_set.all|length == 0 %}
                                    <div class="text-muted font-italic text-center">- Пока нет отзывов -</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-sm-center btn-group d-flex" style="padding: 0px">
                    {% if artDesc.UserComment != '' %}
                    <div
                       class="btn btn-light btn-sm flex-fill rounded-0" data-toggle="modal" data-target="#brief_info_{{ artDesc.pk }}"
                        title="Прочиать описание/рецезию от автора каталога">
                            Описание
                    </div>
                        <div class="modal fade" tabindex="-2" role="dialog" id="brief_info_{{ artDesc.pk }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header font-weight-bold text-primary">{{ artDesc.ArtTitle }}</div>
                                    <div class="modal-body text-left">
                                        {{ artDesc.UserComment }}
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'artPage' pk=artDesc.pk u=uk %}" class="btn btn-outline-secondary">
                                            <span class="fas fa-share-alt"></span>&nbsp;<span class="fas fa-search-plus"></span>
                                            Поделиться и Увеличить
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="btn btn-light btn-sm flex-fill rounded-0 disabled" title="Пока нет описания/рецензии">
                            <strike>Описание</strike>
                        </div>
                    {% endif %}
                    <div class="btn-outline-secondary btn-sm disabled font-weight-bold flex-fill"
                         id="tsNM_{{ artDesc.pk }}">
                        {{ artDesc.guesttestimonilas_set.all|length }}
                    </div>
                    <button type="button" class="btn btn-light btn-sm flex-fill rounded-0" data-toggle="modal"
                            data-target="#tsList_{{ artDesc.pk }}">Отзывы
                    </button>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-light" title="{{ artDesc.InCollection.SingleLabel }}">
                        {% if artDesc.SolidArt %}
                            {% if artDesc.InCollection.SingleLabel != '' %}
                                <strong> {{ artDesc.InCollection.SingleLabel|truncatechars:16 }} </strong>
                            {% else %}
                                <strong> Самостоят. П. </strong>
                            {% endif %}
                        {% else %}
                            <div class="row">
                                <div class="col-6" title="{% if artDesc.InCollection != '' %}{{ artDesc.InCollection.BlockLabel }}:{% else %}Части:{% endif %}">
                                    <span class="text-primary font-weight-bold">
                                        <i class="fas fa-tape"></i> {{ artDesc.ArtBlocks }}
                                    </span>
                                </div>
                                <div class="col-6" title="{% if artDesc.InCollection != '' %}{{ artDesc.InCollection.PartLabel }}:{% else %}Элементы:{% endif %}">
                                    <span class="text-primary font-weight-bold">
                                        <span class="fas fa-film"></span> {{ artDesc.ArtParts }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                    {% if artDesc.ArtGeners.count %}
                        <li class="list-group-item list-group-item-light" title="Жанры">
                        <span class="small d-flex flex-wrap">
                        {% for generTag in artDesc.ArtGeners.all %}
                            <a href="{% url 'genFilter' gid=generTag.pk pg=active %}">
                                <span class="fas fa-puzzle-piece"></span>&nbsp;
                                <span class="{% if generTag.pk == gid %}badge-primary{% endif %}">
                                {{ generTag.name }},</span>&nbsp;
                            </a>
                        {% endfor %}
                        </span>
                        </li>
                    {% endif %}

                    <li class="list-group-item list-group-item-light text-muted"
                        title="{% if artDesc.InCollection != '' %}{{ artDesc.InCollection.AgoLabel }}:{% else %}Просмотрено:{% endif %}">
                        <span class="fas fa-eye"></span>
                        <span class="small"> {{ artDesc.ArtModified|date:'d.m.Y H:i' }} </span>
                    </li>

                    {% if user.is_authenticated %}
                        <div class="list-group-item btn-group d-flex justify-content-center align-items-center"
                             style="padding: 3px">

                            <a class="btn btn-sm btn-outline-primary" href="{% if gid != -1 %}
                        {% url 'ArtEditAdv' pk=artDesc.pk refF=1 rtg=gid rpg=active %}
                        {% elif cid != -1 %}
                        {% url 'ArtEditAdv' pk=artDesc.pk refF=2 rtg=cid rpg=active %}
                        {% else %}
                        {% url 'ArtEdit' pk=artDesc.pk rpg=active %}
                        {% endif %}">
                                <span class="fas fa-edit"></span> Изменить
                            </a>
                            <a class="btn btn-sm btn-outline-danger" href="{% if gid != -1 %}
                        {% url 'delActAdv' pk=artDesc.pk ref=0 refF=1 rtg=gid rpg=active %}
                        {% elif cid != -1 %}
                        {% url 'delActAdv' pk=artDesc.pk ref=0 refF=2 rtg=cid rpg=active %}
                        {% else %}
                        {% url 'delAct' pk=artDesc.pk ref=0 rpg=active %}
                        {% endif %}">
                                <span class="fas fa-trash-alt"></span> Удалить
                            </a>

                        </div>
                    {% endif %}

                </ul>
            </div>

        {% empty %}

            <div class="card shadow-sm" style="width: 100%; margin-bottom: 10px">
                <div class="card-body">
                    <p class="card-text text-center">Нет элементов</p>
                </div>
            </div>

        {% endfor %}
    </div>

    {% if pages|last > 0 %}
        <ul class="pagination d-flex justify-content-center flex-wrap">
            <li class="page-item {% if active <= 0 %} disabled {% endif %}">
                <a class="page-link" href="{% if active <= 0 %}#{% else %}
      {% if gid != -1 %}
        {% url 'genFilter' gid=gid pg=active|add:"-1" u=uk %}
        {% elif cid != -1 %}
        {% url 'collFilter' cid=cid pg=active|add:"-1" u=uk %}
        {% else %}
        {% url 'pageU' pg=active|add:"-1" u=uk %}
    {% endif %}
    {% endif %}" tabindex="-1">&laquo;</a>
            </li>
            {% for indA in pages %}
                <li class="page-item {% if indA == active %} active {% endif %}">
                    <a class="page-link" href="{% if gid != -1 %}
        {% url 'genFilter' gid=gid pg=indA u=uk %}
        {% elif cid != -1 %}
        {% url 'collFilter' cid=cid pg=indA u=uk %}
        {% else %}
        {% url 'pageU' pg=indA u=uk %}
    {% endif %}">
                        {{ indA|add:"1" }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if active|add:1 >= pages|last|add:1 %} disabled {% endif %}">
                <a class="page-link" href="{% if gid != -1 %}
        {% url 'genFilter' gid=gid pg=active|add:"1" u=uk %}
        {% elif cid != -1 %}
        {% url 'collFilter' cid=cid pg=active|add:"1" u=uk %}
        {% else %}
        {% url 'pageU' pg=active|add:"1" u=uk %}
    {% endif %}">&raquo;</a>
            </li>
        </ul>
    {% endif %}

{% endblock %}
